

/* CSS Index 
----------------------------------------------------------------------
1. HEADER AREA CSS

----------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,600&display=swap');
/* Theme default css */
 body {
  	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.img {
	max-width: 100%;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.f-left {
	float: left
}
.f-right {
	float: right
}
.fix {
	overflow: hidden
}
a,
.button {
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus,
.button:focus,
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
a,
button {
	color: #fff;
	outline: medium none;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.text-right{
	text-align:right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	margin-top: 0px;
	font-style: normal;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
}
a:hover{
	color: inherit;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}
h1 {
	font-size: 66px;
	font-weight: 500;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 22px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none
}
p {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
	color: rgb(209, 203, 203);
	margin-bottom: 15px;
	font-family: 'Raleway', sans-serif;
}
hr {
	border-bottom: 1px solid #eceff8;
	border-top: 0 none;
	margin: 30px 0;
	padding: 0;
}
label {
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
}
*::-webkit-input-placeholder {
	color: #fff;
	font-size: 14px;
	opacity: 1;
}
*::-moz-placeholder {
	color: #fff;
	font-size: 14px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #fff;
	font-size: 14px;
	opacity: 1;
}
*::-ms-input-placeholder {
	color: #fff;
	font-size: 14px;
	opacity: 1;
}
*::placeholder {
	color: #fff;
	font-size: 14px;
	opacity: 1;
}
.btn {
	font-size: 18px;
	color: #fff;
	background: none;
	padding: 12px 35px;
	line-height: 1;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 30px;
	text-transform: capitalize;
}
a.btn-capatalize{
	text-transform: uppercase;
}
.btn:hover{
	color:rgb(42, 6, 6);
	background:#fff;
}
/* header top area css */
.transparent-header{
	position:absolute;
	left: 0;
	right: 0;
	transition:.3s;
	background-color: #fff;
	z-index: 111;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	padding: 15px 0;
}
.main-menu ul {
	display: flex;
	align-items: center;
	justify-content: end;
}
.main-menu ul li{
	margin-left: 50px;
}
.main-menu ul li a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 500;
	color: #555;
}
.main-menu ul li a:hover{
	color:#00BCD4;
}
/* slider area css */
.slider-height {
	min-height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}
.slider-wrapper {
	margin-top: 155px;
}
.slider-txt h3 {
	font-size: 45px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 3px;
	margin-bottom: 20px;
}
.slider-txt h3 span {
	font-weight: 700;
}
.slider-txt p {
	font-size: ;
	color: #fff;
	letter-spacing: 1.1px;
	line-height: 1.8;
}
.slider-txt a {
	margin-top: 12px;
}
/* service area css */
.services-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;
	background-attachment: fixed;
}
.service-wrapper {
	border: 2px solid #fff;
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
	transition:.3s;
}
.service-wrapper:hover{
	background-color: #fff;
}
.service-wrapper:hover .service-content a{
	color:#fff;
	background-color: #333;
}
.service-content {
	padding-bottom: 30px;
	padding-left: 12px;
	padding-top: 12px;
}
.service-content a {
	color: #fff;
	background: #00BCD4;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 30px;
	margin-bottom: 15px;
}
.service-content h4 {
	color: #fff;
	font-weight: 500;
	margin-bottom: 10px;
}
.service-wrapper:hover .service-content h4{
	color:#333;
}
.service-content p {
	color: #fff;
	font-weight: 300;
	line-height: 1.8;
	font-size: 14px;
}
.service-wrapper:hover .service-content p{
	color:#333;
}
.services-icon a {
	background: none;
	width: 0;
	height: 0;
	position: absolute;
	bottom: 40px;
	right: 40px;
}
.service-wrapper:hover .services-icon a{
	color:#333;
}
/* protfolio area css */
.protfolio-area {
	background-size: cover;
	background-repeat: no-repeat;
}
.protfolio-content {
	margin-bottom: 80px;
}
.protfolio-content h4 {
	font-size: 16px;
	color: #fff;
	letter-spacing: 1.2px;
	margin-bottom: 10px;
	font-weight: 400;
}
.protfolio-content h2 {
	font-size: 40px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1.2px;
}
.protfolio-skill {
	position: relative;
	margin-bottom: 70px;
}
.skill-txt p {
	position: absolute;
	top: -32px;
	color: #fff;
	font-weight: 400;
	font-size: 17px;
}
.skill-txt span {
	position: absolute;
	right: 0;
	top: -32px;
	color:#fff;
	font-size:17px;
}
.protfolio-wrapper .progress {
	height: 13px;
	border-radius: 50px;
}
.protfolio-wrapper .progress-bar {
	background-color: #333;
}
/* pricing area css */
.pricing-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.pricing-text span {
	color: #fff;
	font-size: 30px;
	z-index: 22;
}
.pricing-text h3 {
	font-size: 30px;
	color: #fff;
}
.pricing-text p {
	color: #fff;
}
.pricing-content .pricing-text {
	background: transparent;
	height: 160px;
	width: 160px;
	border-radius: 50%;
	transition: .3s;
	border: 4px solid transparent;
	padding: 25px;
	border-style: double;
}
.pricing-content:hover .pricing-text{
	background: #fff;
	border:4px solid rgb(240, 235, 235);
}
.pricing-content:hover .pricing-text span{
	color:#333;
}
.pricing-content:hover .pricing-text h3{
	color:#333;
}
.pricing-content:hover .pricing-text p{
	color:#333;
}
/* review area start */
.review-area {
	background-size: cover;
	background-position: center;
}
.review-content h2 {
	color: #fff;
	font-size: 45px;
	margin-bottom: 40px;
	letter-spacing: 1.2px;
}
.review-content p {
	color: #fff;
	font-size: 15px;
	line-height: 1.9;
	margin-bottom: 30px;
}
/* main-pricing area css */
.main-pricing-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.main-pricing-wrapper h2 {
	font-size: 50px;
	color: #fff;
	margin-bottom: 85px;
	letter-spacing: 1.8px;
}
.main-pricing-wrapper h2 span {
	font-weight: 400;
}
.pricing-section h3 {
	color: #fff;
	font-weight: 400;
	margin-bottom: 40px;
	position: relative;
}
.pricing-section p {
	color: rgb(211, 207, 207);
	letter-spacing: 1.2px;
	line-height: 2;
	margin-bottom: 7px;
}
.pricing-section h2 {
	font-size: 35px;
	margin-bottom: 15px;
	font-weight: 500;
}
.pricing-section h2 span {
	font-size: 16px;
	font-weight: 500;
}
.pricing-section p.spacing {
	margin-bottom: 30px;
}
.pricing-section h3::before {
	position: absolute;
	content: "";
	width: 240px;
	height: 1px;
	background: #fff;
	bottom: -15px;
	left: 0;
	right: 0;
	margin: auto;
}
.pricing-border {
	position: relative;
}
.pricing-border:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 480px;
	background: #fff;
	top: -35px;
	right: -12px;
}
/* main-review-area css */
.main-review-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.main-review-content {
	background: #fff;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 90px;
	border-radius: 20px;
}
.main-review-content p {
	color: #867f7f;
	letter-spacing: 1.1px;
	font-size: 16px;
	line-height: 1.7;
}
.main-review-content span {
	color: #867f7f;
	margin-bottom: 20px;
}
.main-review-picture img {
	border: 2px solid #fff;
	border-radius: 50%;
	margin-bottom: 20px;
	box-shadow: 1px -1px 9px 1px #ddd;
}
.main-review-picture h4 {
	color: #fff;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 9px;
}
.main-review-picture span {
	color: #d7d3d3;
	font-size: 14px;
}
.main-review-picture {
	margin-top: -60px;
}
.main-review-icon a {
	margin: 0 2px;
}
/* contact us area css */
.contact-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.contact-header h3 {
	color: #fff;
	font-size: 35px;
	letter-spacing: 1.2px;
	font-weight: 400;
	margin-bottom: 20px;
}
.contact-header h3 span {
	font-size: ;
	font-weight: 700;
}
.contact-header p {
	color: #fff;
	font-size: 15px;
	letter-spacing: 1.2px;
	line-height: 2;
	margin-bottom: 30px;
}
.contact-form input {
	width: 100%;
	background: none;
	border: 0;
	margin-bottom: 20px;
	padding-left: 20px;
	height: 40px;
	border-bottom: 1px solid #fff;
}
.contact-form textarea{
	width: 100%;
	height: 150px;
	background: none;
	border: 0;
	border-bottom: 1px solid #fff;
	padding: 20px;
	font-size: 14px;
	margin-bottom: 40px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: 1; /* Firefox */
}
.contact-button button {
	width: 100%;
	height: 45px;
	border: 0;
	background: #fff;
	border-radius: 30px;
	color: #333;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1.2px;
	font-size: 14px;
	transition:.3s;
}
.contact-button button:hover{
	background:#00BCD4;
	color:#fff;
}
/* office area css */
.office-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.office-wrapper h3 {
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1.2px;
	margin-bottom: 30px;
}
.office-wrapper p {
	margin-bottom: 22px;
}
.office-wrapper .office-telephone p {
	margin-bottom: 5px;
}
.office-wrapper .office-telephone{
	margin-bottom: 30px;
}
.office-wrapper .office-email p{
	margin-bottom: 5px;
}
.office-wrapper .office-email{
	margin-bottom: 30px;
}
.office-wrapper span {
	margin-bottom: 60px;
	color:rgb(209, 203, 203);
}
.office-icon a {
	margin-right: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	transition:1s;
}
.office-icon a:hover{
	background:#fff;
	border-radius: 50px;
}
/* google map area css */
#contact-map{
	height: 400px;
}
/* footer-area css */
.footer-icon a {
	color: #333;
	margin: 4px;
	border: 1px solid #ddd;
	height: 40px;
	width: 40px;
	line-height: 38px;
	border-radius: 50px;
	transition: .3s;
}
.footer-icon a:hover{
	background:#00BCD4;
	color:#fff;
	border:1px solid transparent;
}
.footer-txt p {
	margin-top: 20px;
	color: #777;
	font-size: 13px;
	margin-bottom: 0;
}
.footer-txt p a {
	color: #777;
	text-decoration: none;
}
.footer-txt p a:hover{
	color:#00BCD4;
}
/* owl-carousul slider */
.single-slider {
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
}
.protfolio-slider .owl-nav button.owl-prev {
	position: absolute;
	bottom: 40px;
	left: 120px;
	color: #fff;
	font-size: 20px;
	background: none;
}
.protfolio-slider .owl-nav button.owl-next {
	position: absolute;
	bottom: 40px;
	left: 155px;
	color: #fff;
	font-size: 20px;
	background: none;
}
.protfolio-area .protfolio-slider .owl-nav{
	opacity: 0;
	visibility: hidden;
	transition:.3s;
}
.protfolio-area:hover .protfolio-slider .owl-nav{
	opacity: 1;
	visibility: visible;
}
/* google map */
#map{
	width: auto;
	height:500px;
}
/* scrollUp plugin */
#scrollUp {
	position: absolute;
	right: 30px;
	bottom: 30px;
	background: aqua;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	display: block;
	text-align: center;
}

